#greeting{
  text-align: center;
}

#name_list{
box-shadow: #3c8dbc 1px 1px 1px 1px;
color: black;
list-style: none;
border-top: #3c8dbc 6px solid;
}




.chat_msg{
  text-align: right;
  background-color: #3180bb;
  color:#fff;
  border-radius: 4px;
  padding: 4px;
}

#chat-window .chat_msg{
  float: right;
  box-shadow: 1px ;
}

li img{
  border-radius: 23px;
}

.on{
  color:green;
}

.off{
  color:#584f4f;
}


.li_name{
  height: 40px;
}
